@media (max-width: 1460px) {
  .header__content {
    flex-direction: column;
    align-items: flex-start;
    transform: translateX(42px);
  }
}

@media (max-width: 1240px) {
  .burger {
    display: block;
  }
  .header__menu {
    display: none;
  }
  .burger__content {
    display: block;
  }
}

@media (max-width: 1170px) {
  .header__content-inner {
    margin-right: 0;
    width: 100%;
  }

  .header__content .container {
    width: 100%;
  }

  .header__content {
    padding: 40px 0 0;
    transform: translateX(0);
  }

  .header__content-box {
    text-align: center;
    margin: 0 auto;
  }

  .header__slider {
    margin: 0 auto;
  }

  .work {
    padding: 90px 0 70px;
  }

  .work__list-item {
    margin: 0 auto 30px;
  }

  .instruments__title {
    text-align: center;
    margin: 0 auto 20px;
  }

  .instruments__navigation {
    justify-content: center;
  }

  .navigation__list {
    flex-direction: column;
    text-align: center;
  }

  .navigation__list-item {
    width: 100%;
  }

  .presentation__header {
    text-align: center;
    margin: 0 auto 30px;
  }


}

@media (max-width: 965px) {
  .work__inner {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .header__slider {
    max-width: 100%;
  }

  .slider__item-img {
    width: 100%;
  }

  .slider__item-img {
    max-width: 100%;
    width: 100%;
  }

  .work__content {
    margin: 0;
    text-align: center;
    max-width: 100%;
  }

  .our__work {
    max-width: 100%;
    width: 100%;
  }

  .work__list-item {
    max-width: 100%;
  }

  .navigation__list {
    width: 100%;
  }
}

@media (min-width: 360px) and (max-width: 964px) {
  .logo__text {
    display: none;
  }

  .title {
    font-size: 30px;
  }

  .subtitle {
    font-size: 20px;
    line-height: 20px;
  }

  .header__content-description {
    font-size: 14px;
  }

  .header__content-list {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
  }

  .header__content-item {
    margin-bottom: 20px;
  }

  .header__content-order {
    flex-direction: column;
    max-width: 100%;
    width: 100%;
  }

  .header__content-order button {
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
  }

  .work__title {
    font-size: 1.5em;
    line-height: 20px;
    margin-bottom: 10px;
  }

  .work__content-description {
    font-size: 1em;
  }

  .link {
    width: 100%;
  }

  .instruments {
    padding-bottom: 20px;
  }

  .instruments__title {
    font-size: 1.5em;
    line-height: 20px;
  }

  .navigation__list-item {
    transition: none;
  }

  .presentation__title {
    font-size: 1.5em;
    line-height: 20px;
  }

  .presentation__text {
    font-size: 1em;
  }
}